/* general */
.row {
  margin: 20px 0;
}

body {
  overflow-x: hidden;
}
/* nav bar */
header .row a {
  text-transform: uppercase;
  font-size: 20pt;
  color: white;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: bold;
}

header .row a:hover {
  color: #1ABC9C;
  background-color: #2C3E50;
}

header .row div > a:hover {
 color: white;
}

.color {
  background-color: #2C3E50;
}

/* primo blocco */
.primoblocco {
  background-color: #1ABC9C;
}

 .avatar {
   height: 300px;
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);
 }

 .textcolor {
   text-align: center;
   color: white;
   text-transform: uppercase;
 }

 .textcolor h1 {
   height: 40px;
   font-weight: bold;
 }


.line {
  max-width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.impaginazione {
  margin-top: 30px;
}

.star {
  max-width: 40px;
  max-height: 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.textcolor p {
  font-size: 15pt;
}

/* blocco porfolio */
.general-portfolio {
  margin-bottom: 50px;
}

.textcolor-blue {
  margin-top: 20px;
  text-align: center;
  color: #2C3E50;
  text-transform: uppercase;
}

.textcolor-blue h1 {
  font-size: 40pt;
  font-weight: bold;
}

.line-blue {
  max-width: 100%;
  height: 4px;
  background-color: #2C3E50;
  border-radius: 10px;
}

.blocchi {
  margin-top: 20px;
}

.portfolio a img {
  border-radius: 10px;
}

.portfolio a:hover {
  filter: brightness(70%);
}

.bloc {
  margin-top: 20px;
}

/* blocco about */

.color-about {
  background-color: #1ABC9C;
}

.textcolor .no-uppercase {
  text-transform: none;
  text-align: left;
  font-size: 15pt;
}

.position-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #1ABC9C;
  color: white
}

/* blocco contact */
